:root {
    /* Base */
    --white: #fff;
    --black: #000;
    
    /* Theme color */
    --theme: #0060A9;
    --theme-rgb: 0, 96, 169;
    --theme-darker: #003A66;
    --theme-contrast: #FFFFFF;

    --theme-alt: #FF5500;
    --theme-alt-darker: #993200;
    --theme-alt-contrast: #fff;

    --heading-dark: #404040;
    --text-dark: #404040;
    --background-dark: #0060A9;
    --background-dark-lighter: #0067B3;
    --border-dark: rgba(0, 0, 0, 0.08);
    
    /* Light color */
    --heading-light: #FFFFFF;
    --text-light: #FFFFFF;
    --background-light: #F8F8F3;
    --border-light: rgba(255, 255, 255, 0.1);
    
    /* Header */
    --selected-nav-item: #0060A9;
    --header-height: 84px;
    --logo-padding: 17px;
    --navigation-padding: 30px;
    --pre-top-height: 30px;
    --top-combo-calc: calc(var(--header-height) + var(--pre-top-height));
    
    /* Grid */
    --grid-width-small: 850px;
    --grid-width: 1300px;
    --grid-width-big: 1860px;
    --grid-gutter: 30px;
    --grid-gutter-half: calc(var(--grid-gutter) / 2);
    
    /* Buttons */
    --button-border-radius: 0;
    
    /* Typography */
    --body-font: proxima-nova;
    --heading-font: proxima-nova;
    --font-size: 1.1rem;
    --font-size-big: 1.25rem;
    --font-weight-normal: normal;
    --font-weight-light: 300;
    --font-weight-bold: bold;
    --font-weight-bolder: bolder;
    
    /* Validation */
    --success: #2ecc71;
    --error: #e74c3c;
}
@media only screen and (max-width: 1200px) {
  :root {
    --navigation-padding: 15px;
  }
}
@media only screen and (max-width: 992px) {
  :root {
    --header-height: 50px;
    --grid-gutter: 20px;
    --logo-padding: 12px;
  }
}
@media only screen and (max-width: 768px) {
  :root {
    --grid-gutter: 15px;
  }
}
@media only screen and (max-width: 480px) {
  :root {
    --grid-gutter: 15px;
  }
}
